/* fonts Custom*/
@font-face {
    font-family: "WindDoomsday";
    src: url("../src/fonts/WindDoomDay/WindDoomsdayBold.ttf");
}

@font-face {
    font-family: "Metropolis";
    src: url("../src/fonts/metropolis/Metropolis-Regular.ttf");
    
}
@font-face {
    font-family: "Metropolis_semibold";
    src: url("../src/fonts/metropolis/Metropolis-SemiBold.ttf");
}
@font-face {
    font-family: "Metropolis_bold";
    src: url("../src/fonts/metropolis/Metropolis-Bold.ttf");
}

/* Tailwind bases */
@tailwind base;
@tailwind components;
@tailwind utilities;


h1 { font-family: "WindDoomsday"; }
p { font-size: 14px;}

html {
    scroll-behavior: smooth;
  }